@use "global" as *;

.top-price {
  margin-top: my-rem(84);
  padding: my-rem(80) 0 my-rem(85);
  background-color: $green2;
  @include mq(md) {
    margin-top: my-rem(144);
    padding: my-rem(101) 0 my-rem(105);
    position: relative;
  }
}
