@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$jp-font-family1: "Noto Sans JP", sans-serif;
$jp-font-family2: "Noto Serif JP", serif;
$en-font-family1: "Gotu", sans-serif;
$en-font-family2: "Lato", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111111;
$white: #ffffff;
$white2: #f2f2f2;
$green: #408f95;
$green2: #ddf0f1;
$dark-green: #0d2936;
$brown: #796a64;
$red: #c94800;

body {
  font-family: $jp-font-family1;
  color: $dark-green;
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
  height: 100vh;
}
