@use "global" as *;

.blog-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(39);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.blog-cards__items--sub {

}
