@use "global" as *;

.contact {
  position: relative;
  padding: rem(54) 0 rem(105);
  @include mq(md) {
    padding: rem(140) 0 rem(160);
  }
}
.contact--campaign,
.contact--info,
.contact--blog,
.contact--price,
.contact--faq {
  margin-top: rem(26);
  padding-bottom: rem(102);
  @include mq(md) {
    margin-top: initial;
    padding-bottom: rem(160);
  }
}
.contact--siteMap {
  margin-top: rem(34);
  padding-bottom: rem(102);
  @include mq(md) {
    margin-top: initial;
    padding-bottom: rem(160);
  }
}
.contact--privacyPolicy {
  margin-top: rem(29);
  padding-bottom: rem(102);
  @include mq(md) {
    margin-top: rem(34);
    padding-bottom: rem(160);
  }
}

.contact--termsOfService {
  margin-top: rem(29);
  padding-bottom: rem(102);
  @include mq(md) {
    margin-top: initial;
    padding-bottom: rem(160);
  }
}
.contact--blog-detail {
  margin-top: rem(40);
  padding-bottom: rem(102);
  @include mq(md) {
    margin-top: initial;
    padding-bottom: rem(160);
  }
}
.contact--aboutUs {
  margin-top: rem(26);
  padding-bottom: rem(102);
  @include mq(md) {
    margin-top: initial;
  }
}
.contact__decoration {
  position: absolute;
  top: rem(54);
  right: calc(50% - min(47.9166vw, 41.875rem));
  width: rem(109);
  height: rem(50);
  z-index: 100;
  @include mq(md) {
    top: rem(98);
    right: calc(
      ((100vw - rem(1440)) / 2 + rem(50)) - min(rem(0), (100vw - rem(1405)) / 2)
    );
    width: rem(301);
    height: rem(138);
  }
}
.contact__inner {
  max-width: rem(600);
  width: 100%;
}
.contact__decoration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__container {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    box-shadow: rem(4) rem(4) rem(10) rgba(0, 0, 0, 0.25);
    padding: rem(80) rem(50) rem(80);
  }
}

.contact__info {
  padding: rem(26) rem(25) 0;
  @include mq(md) {
    padding-top: initial;
    width: 100%;
    max-width: calc((572 / 1080) * 100%);
    padding-right: rem(82);
    padding: rem(26) 0 0;
  }
}
.contact__logo-block {
  display: block;
  padding-bottom: rem(6);
  border-bottom: rem(1) solid $green;
}
.contact__logo {
  width: rem(174);
  height: rem(65);
  margin: 0 auto;
  @include mq(md) {
    width: rem(200);
    height: rem(75);
  }
}
.contact__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
    flex-direction: row-reverse;
  }
}

.contact__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    width: calc((150 / 419) * 100%);
    align-items: initial;
    justify-content: initial;
  }
}

.contact__item {
  font-size: trm(16);
  font-family: $jp-font-family1;
  font-weight: $regular;
  line-height: calc(24 / 16);
  padding-bottom: rem(4);
}

.contact__map {
  margin-top: rem(10);
  position: relative;
  @include mq(md) {
    margin-left: rem(21);
    margin-top: initial;
    width: calc((273 / 419) * 100%);
  }
}
.contact__map::before {
  content: "";
  display: block;
  padding-top: calc((160 / 295) * 100%);
  @include mq(md) {
    padding-top: calc((148 / 273) * 100%);
  }
}
.contact__map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__action {
  margin-top: rem(41);
  @include mq(md) {
    padding-top: rem(20);
    margin-top: initial;
    width: 100%;
    max-width: calc((508 / 1080) * 100%);
    padding-left: rem(16);
    border-left: rem(1) solid $green;
    text-align: center;
  }
}

/*//////////////////////////////////////
.title.scssにも記載
/////////////////////////////////////*/
.title__emphasis {
  font-size: rem(14);
  font-family: $jp-font-family1;
  font-weight: $regular;
  color: $green;
  line-height: calc(18 / 14);
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(8);
  }
}
.title__button {
  margin-top: rem(40);
}
/*//////////////////////////////////////
終了
/////////////////////////////////////*/
