@use "global" as *;

.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $green;
  z-index: 8888;
  transition: transform 0.3s ease;
  padding-top: rem(90);
  padding-bottom: rem(104);
}

.drawer-menu--all-close {
  display: none;
}
.drawer-menu.is-open {
  display: block;
}

.drawer-menu__inner {
  max-width: rem(400);
  display: flex;
  justify-content: center;
  margin-top: rem(1);
  overflow-y: scroll;
  height: 100vh;
}

.drawer-menu__container-left {
  width: 100%;
  max-width: 53%;
  padding-left: rem(25);
  @include mq(md) {
    max-width: calc((190 / 338) * 100%);
  }
}
.drawer-menu__container-right {
  width: 100%;
  max-width: 47%;
  margin-left: rem(2);
  padding-left: rem(25);
  @include mq(md) {
    margin-left: rem(7);
    max-width: calc((148 / 338) * 100%);
  }
}

.drawer-menu__list-name {
  display: flex;
  align-items: center;
}
.starfish-icon {
  display: inline-block;
  padding-right: rem(4);
  width: rem(18);
  height: rem(18);
}
.ly-starfish-icon {
  margin-top: rem(-18);
}
.drawer-menu__contents:not(:first-child) {
  margin-top: rem(40);
}
.drawer-menu__list-name {
  font-size: rem(16);
  font-family: $jp-font-family1;
  font-weight: $bold;
  line-height: calc(18 / 16);
  color: $white;
  position: relative;
}
.drawer-menu__list-name a {
  display: block;
  width: 100%;
}
.drawer-menu__list-name::before {
  content: "";
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background-image: url(/assets/images/common/starfish.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: rem(-24);
}
.drawer-menu__items {
  margin-top: rem(24);
}

.drawer-menu__item {
  margin-top: rem(24);
  font-size: rem(16);
  font-family: $jp-font-family1;
  font-weight: $regular;
  color: $white;
  line-height: calc(18 / 16);
  width: 100%;
}
.drawer-menu__item a {
  display: block;
  width: 100%;
}
