@use "global"as *;

.hero {
  position: relative;
  height: my-rem(460);

  @include mq(md) {
    height: my-rem(548);
  }
}

.hero picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero source,
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(md) {
    top: calc(50% + my-rem(50));
  }
}

.hero__title::first-letter {
  text-transform: capitalize;
}

.hero__title--uppercase {
  text-transform: uppercase;
}

.hero__title-text {
  color: $white;
  font-family: $en-font-family2;
  font-weight: $normal;
  font-size: my-rem(40);
  line-height: calc(100 / 40);

  @include mq(md) {
    font-size: my-rem(80);
    line-height: calc(100 / 80);
  }
}

.hero__title-text--big {
  text-transform: uppercase;
}

.hero__title-text--capitalize {
  text-transform: capitalize;
}