@use "global" as *;

/* ローディング時にスクロールさせない */
.js-fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: $white;
}

.loading__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
}

.loading__title-text {
  color: $green;
  font-size: rem(40);
  font-family: $en-font-family2;
  font-weight: $regular;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  line-height: calc((48 / 40) * 100%);
  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}
.loading__title-subtext {
  color: $green;
  font-size: rem(20);
  font-family: $en-font-family1;
  font-weight: $regular;
  line-height: calc((33 / 20) * 100%);
}

