@use "global" as *;

#pageTop {
  position: fixed;
  z-index: 9999;
  right: rem(15);
  bottom: rem(15);
  @include mq(md) {
    right: rem(20);
    bottom: rem(20);
  }
}

#pageTop a {
  content: "";
  border: rem(1) solid $green;
  border-radius: 50%;
  width: rem(48);
  height: rem(48);
  color: $green;
  background-color: $white;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}
#pageTop a::after {
  content: "";
  display: inline-block;
  width: rem(6);
  height: rem(28);
  transform: skewY(-45deg);
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  margin-right: rem(5);
  margin-top: rem(10);
  @include mq(md) {
    height: rem(40);
  }
}
/*//////////////////////////////////////
アニメーション
/////////////////////////////////////*/
/*リンクを右下に固定*/
#pageTop {
	position: fixed;
	right: 10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#pageTop.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#pageTop.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}
/*//////////////////////////////////////
終了
/////////////////////////////////////*/
