@use "global" as *;

.priceBox {
}
.priceBox__container {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
  }
}
.priceBox__container:not(:first-child) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(81);
  }
}

.priceBox__theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: rem(8) rem(15);
  line-height: calc(24 / 16);
  background-color: $green;
  color: $white;
  @include mq(md) {
    padding: rem(20) rem(15);
    max-width: calc((200 / 700) * 100%);
  }
}

.priceBox__theme-text {
  font-family: $jp-font-family1;
  font-weight: $bold;
  font-size: rem(16);
}

.priceBox__items {
  width: 100%;
  max-width: 100%;
  @include mq(md) {
    max-width: calc((500 / 700) * 100%);
    border-bottom: 1px solid $green;
  }
}

.priceBox__theme {
  display: flex;
  flex-direction: row-reverse;
  @include mq(md) {
    flex-direction: column;
  }
}
.priceBox__theme::after {
  content: "";
  background-image: url(/assets/images/common/whale-white--right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(24);
  height: rem(24);
  margin-right: rem(8);
  @include mq(md) {
    margin-right: initial;
    margin-top: rem(8);
    width: rem(64);
    height: rem(64);
  }
}
.priceBox__content {
  text-align: center;
  padding: rem(12) rem(16);
  line-height: calc(24 / 16);
  font-weight: $normal;
  border-bottom: 1px solid $green;
  border-left: 1px solid $green;
  width: 100%;
  max-width: calc((240 / 345) * 100%);
  height: rem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    height: initial;
    padding: rem(17) rem(16);
    justify-content: flex-start;
    border-bottom: initial;
    border-left: initial;
    border-top: 1px solid $green;
    border-right: 1px solid $green;
    max-width: calc((338 / 500) * 100%);
  }
}

.priceBox__wrapper {
  display: flex;
  flex-direction: row;
}
.priceBox__price {
  width: 100%;
  max-width: 100%;
  padding: rem(12) rem(16);
  text-align: right;
  line-height: calc(24 / 16);
  font-weight: $normal;
  max-width: calc((106 / 345) * 100%);
  border-bottom: 1px solid $green;
  border-right: 1px solid $green;
  border-left: 1px solid $green;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include mq(md) {
    border-bottom: initial;
    border-left: initial;
    border-top: 1px solid $green;
    border-right: 1px solid $green;
    max-width: calc((162 / 500) * 100%);
    padding: rem(17) rem(16);
  }
}

.priceBox__br {
  display: block;
  @include mq(md) {
    display: none;
  }
}
