@use "global" as *;

.privacyPolicy__title {
  color: $dark-green;
  font-family: $jp-font-family1;
  font-size: rem(24);
  font-weight: $medium;
  @include mq(md) {
    font-size: rem(32);
  }
}

.privacyPolicy__main-container {
  margin-top: rem(37);
  @include mq(md) {
    margin-top: rem(37);
  }
}

.privacyPolicy__sub-title,
.privacyPolicy__items,
.privacyPolicy__item,
.privacyPolicy__text {
  color: $dark-green;
  font-family: $jp-font-family1;
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(32 / 16);
}

.privacyPolicy__container {
  margin-top: rem(32);
}

.privacyPolicy__items {
  margin-top: rem(31);
}
ol.privacyPolicy__items {
  list-style-type: decimal;
  padding-left: rem(23);
  margin-top: initial;
}
.privacyPolicy__text {
  margin-top: rem(31);
}
