@use "global" as *;

.sub-privacyPolicy {
  position: relative;
}

.sub-privacyPolicy__decoration {
  position: absolute;
  top: my-rem(-25);
  left: my-rem(15);
  width: my-rem(120);
  height: my-rem(55);
  z-index: -1;
  @include mq(md) {
    top: my-rem(-71);
    width: my-rem(301);
    height: my-rem(138);
    left: calc(50% - min(47.9166vw, 38.75rem));
  }
}

.sub-privacyPolicy__inner.inner {
  width: 100%;
  max-width: my-rem(730);
  @include mq(md) {
    max-width: my-rem(850);
  }
}
