@use "global" as *;

.sub-voice {
  position: relative;
}

.sub-voice__decoration {
  position: absolute;
  top: my-rem(-25);
  left: my-rem(15);
  width: my-rem(120);
  height: my-rem(55);
  z-index: -1;
  @include mq(md) {
    top: my-rem(-71);
    width: my-rem(301);
    height: my-rem(138);
    left: calc(50% - min(47.9166vw, 38.75rem));
  }
}

.sub-voice__container {
  margin-top: my-rem(40);
}
.sub-voice__pageNation {
  margin-top: my-rem(72);
}
