@use "global" as *;

.title {
  display: block;
}
.title__text {
  font-size: rem(32);
  font-weight: $regular;
  font-family: $en-font-family1;
  line-height: calc(40 / 32);
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}
.title__text::first-letter {
  text-transform: capitalize;
  color: $green;
}

.title--center {
  text-align: center;
}

.title__text--big {
  font-size: rem(80);
  line-height: 1;
  @include mq(md) {
    font-size: rem(80);
  }
}
.title__text--white {
  @include mq(md) {
    color: $white;
  }
}
.title__text--white::first-letter {
  @include mq(md) {
    color: $white;
  }
}
.title__text--green {
}
.title__text--white {
  @include mq(md) {
    color: $white;
  }
}

.title__sub-text {
  font-family: $jp-font-family1;
  font-weight: $regular;
  font-size: rem(12);
  line-height: calc(18 / 12);
  color: $green;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(7);
  }
}
.title__sub-text--white {
  @include mq(md) {
    color: $white;
  }
}

.title__sub-text--layout {
  margin-top: rem(-7);
  @include mq(md) {
    margin-top: rem(-7);
  }
}

/*//////////////////////////////////////
Contactの一部分
/////////////////////////////////////*/
.title__emphasis {
  font-size: rem(14);
  font-family: $jp-font-family1;
  font-weight: $regular;
  color: $green;
  line-height: calc(18 / 14);
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(8);
  }
}
.title__button {
  margin-top: rem(40);
  text-align: center;
}
/*//////////////////////////////////////
終了
/////////////////////////////////////*/
